<style>
   .modal-content {
   background-color: #ffffff;
   text-color: #000000
   }
</style>
<!-- Add -->
<div class="modal fade" id="Modal-Add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">
               <!-- -->
               Add new User
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form method="POST">
               {{ add_form.hidden_tag() }}

               {{ add_form.chat_id.label() }}
               {{ add_form.chat_id(class="form-control", placeholder="Chat id") }}
               {{ add_form.username.label() }}
               {{ add_form.username(class="form-control", placeholder="Username") }}
               {{ add_form.is_admin.label(class="form-check-label", for="exampleCheck1") }}
               {{ add_form.is_admin(type="checkbox", class="form-check-input", id="exampleCheck1") }}
               <br>

               <div class="modal-footer">
                  <input id="added_token" name="added_token" type="hidden" value="{{ add_form.username.data }}">
                  {{ add_form.submit(class="btn btn-success btn-block") }}
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- Remove -->
<div class="modal fade" id="Modal-RemoveConfirm-{{ user }}"
   tabindex="-1"
   aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">
               <!-- -->
               {{ user }}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form method="POST">
               {{ remove_form.hidden_tag() }}
               <h4 class="text-center">
                  Are you sure you want to remove token: {{ user }} ?
               </h4>
               <br>
               <h6 class="text-center">
                  By clicking Remove, you will remove this Token.
               </h6>
               <br>
               <div class="modal-footer">
                  <input id="remove_token" name="remove_token" type="hidden" value="{{ token }}">
                  {{ remove_form.submit(class="btn btn btn-danger btn-block") }}
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- Update Confirm -->
<div class="modal fade" id="Modal-Update-{{ user }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">
               <!-- -->
               {{ user }}
            </h5>
         </div>
      </div>
   </div>
</div>
<!-- Get -->
<div class="modal fade" id="Modal-Get-{{ user }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">
               <!-- -->
               {{ user }}
            </h5>
         </div>
      </div>
   </div>
</div>
