{% extends "base.html" %}
{% block title %} Main page {% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3> Main page </h3>

</div>

<br>

<div class="row">
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-header text-muted">
                All users registered in the system: {{ users_count }}
            </div>
            <div class="card-footer text-muted">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Admin</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.username }}</td>
                        {% if user.is_admin %}
                        <td class="table-success"><b>Yes</b></td>
                        {% else %}
                        <td class="table-danger"><b>No</b></td>
                        {% endif %}
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-header text-muted">
                Number of active crypto wallets:  {{ wallets_count }}
            </div>
            <div class="card-footer text-muted">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Address</th>
                        <th scope="col">Network</th>
                        <th scope="col">User id</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for wallet in wallets %}
                    <tr>
                        <th scope="row">{{ wallet.id }}</th>
                        <td>{{ wallet.address }}</td>
                        <td>{{ wallet.network }}</td>
                        <td>{{ wallet.user_id }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-header text-muted">
                Number of successfully completed transactions: {{ transactions_count }}
            </div>
            <div class="card-footer text-muted">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">TX HASH</th>
                        <th scope="col">Network</th>
                        <th scope="col">Amount</th>
                        <th scope="col">User id</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <th scope="row">{{ transaction.transaction_hash|truncate(5) }}</th>
                        <td>{{ transaction.network }}{{ transaction.token }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.user_id }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-header text-muted">
                Number of tokens for transactions: {{ tokens_count }}
            </div>
            <div class="card-footer text-muted">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Network</th>
                        <th scope="col">Address</th>
                        <th scope="col">Decimals</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for token in tokens %}
                    <tr>
                        <th scope="row">{{ token.id }}</th>
                        <td>{{ token.network }}{{ token.token }}</td>
                        <td>{{ token.address|truncate(8) }}</td>
                        <td>{{ token.decimals }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}