{% extends "base.html" %}
{% block title %} Tokens {% endblock %}
{% block content %}

<div class="row" style="margin-top:20px; margin-left:20px">
    <h2>Users</h2>
    <br>
    <table class="table table-hover table-light">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Admin</th>
            <th scope="col" style="text-align:right">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        {% include 'includes/user_models.html' %}
        <tr>
            <td><b>{{ user.id }}</b></td>
            <td><b>{{ user.username }}</b></td>
            {% if user.is_admin %}
            <td><b> Yes </b></td>
            {% else %}
            <td><b> No </b></td>
            {% endif %}
            <td style="text-align:right">
                <button class="btn btn-outline btn-primary" data-toggle="modal" data-target="#Modal-Get-{{ user }}">Show</button>
                <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-Update-{{ user }}">Update</button>
                <button class="btn btn-outline btn-danger" data-toggle="modal" data-target="#Modal-RemoveConfirm-{{ user }}">Remove</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'includes/user_models.html' %}
    <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-Add">Add new User</button>
    <br>
</div>

{% endblock %}